{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderParserPlugins": ["typescript", "jsx", "classProperties", "decorators-legacy"]
}
