@import "./styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  @apply bg-background text-text-primary;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white/20 rounded-full border-2 border-background;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/30;
  }
}
